<html>
<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
		<link href="style/style.css" rel="stylesheet" />
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
		<script src="js/js.js"></script>
		<style>input.ng-invalid{border:1px solid red;}</style>
	    <title>Parent page</title>
</head>
<body background="assets/img/backgrounds/1.jpg">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><img src="1.png" width="30" height="30"></a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="employee.html">Employee</a></li>
				<li class="active"><a href="#">Parent</a></li>
				<li><a href="student.html">Student</a></li>
				<li><a href="sendnotification.html">Send Notification</a></li>
				<li><a href="uploadtimetable.html">Upload Timetable</a></li>			
				<li><a href="uploadevent.html">Upload Event</a></li>
			</ul>
		</div>
	</nav>
    <div class="container">
	   <div class="panel panel-default">
	     <div class="panel-heading"><h3><B>Parent</B></h3></div>
		   <div class="panel-body">
<div class="py-5">
<div class="container">
    <div class="row">
        <div class="col-md-11" ng-app="parentApp" ng-controller="ParentCtrl">
		<form name="F" ng-submit="parentInformation()">
		<div class="form-group">
              <B><label>First name</label></B> 
			  <input type="text" name="Fn" ng-model="firstname" class="form-control" placeholder="Abdallah" required>
			  <span ng-show="F.Fn.$dirty && F.Fn.$error.required">Required!</span>
        </div>
		<div class="form-group">
              <B><label>Last name</label></B> 
			  <input type="text" name="Ln" ng-model="lastname" class="form-control" placeholder="Elgamal" required>
			  <span ng-show="F.Ln.$dirty && F.Ln.$error.required">Required!</span>
        </div>
		<div class="form-group">
              <B><label>Phone number</label></B> 
			  <input type="text" name="Pn" ng-model="phonenumber" class="form-control" ng-minlength="9" ng-maxlength="12" placeholder="+20xxxxxxxxxx" required>
			  <span ng-show="F.Pn.$dirty && F.Pn.$error.required">Required!</span>
			  <span ng-show="F.Pn.$dirty && F.Pn.$error.minlength">Not a phone number!</span>
			  <span ng-show="F.Pn.$dirty && F.Pn.$error.maxlength">Not a phone number!</span>
        </div>
		<div class="form-group">
              <B><label>Email ID</label></B> 
			  <input type="email" name="emailID" ng-model="email" class="form-control" placeholder="Parent@example.com" required>
			  <span ng-show="F.emailID.$dirty && F.emailID.$error.required">Required!</span>
			  <span ng-show="F.emailID.$dirty && F.emailID.$error.email">Not an email!</span>
        </div>
		<div class="form-group">
              <B><label>Password</label></B> 
			  <input type="password" name="pass" ng-model="password" class="form-control" ng-minlength="5" ng-maxlength="10" placeholder="********" required>
			  <span ng-show="F.pass.$dirty && F.pass.$error.required">Required!</span>
			  <span ng-show="F.pass.$dirty && F.pass.$error.minlength">Too short!</span>
			  <span ng-show="F.pass.$dirty && F.pass.$error.maxlength">Too long!</span>
        </div>
		<button type="submit" class="btn btn-primary" ng-disabled="F.$invalid"><B>Submit</B></button>
		</form>
		</div>
	</div>
</div>
	</body>
</html>













