<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<div ng-include="'Imports.html'"></div>
	</head>
<body ng-app="" background="assets/img/backgrounds/1.jpg">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#"> <p style="color:#80ffff;"> School System</p></a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li><a href="employee.html">Employee</a></li>
		      <li><a href="parent.html">Parent</a></li>
		      <li><a href="student.html">Student</a></li>
		      <li><a href="sendnotification.html">Send Notification</a></li>
			  <li><a href="uploadtimetable.html">Upload Timetable</a></li>			
			  <li><a href="uploadevent.html">Upload Event</a></li>
		    </ul>
		</div>
	</nav>
    <div class="container">
	  <div class="panel panel-default">
	    <div class="panel-heading"><h3>Upload Timetable</h3>
		</div>
		<div class="panel-body">
          <div class="py-5">
            <div class="container">
              <div class="row">
                <div class="col-md-11">
		           <form name="" action="" method="post">
		             <div class="form-group">
		                <B><label>Grade:</label></B><br>
			            <select ng-model="Grade">
			 	        <option value="">--------------</option>
                        </select>
			            <label ng-switch="Grade" class="form-group">
                        <div ng-switch-when="">
                        <B></B>
               </div>
             <div ng-switch-when="">
                 <B></B>
             </div>
             <div ng-switch-when="">
                 <B></B>
             </div>
			 <div ng-switch-when="">
                 <B></B>
             </div>
            </label>
		</div>
		<div class="form-group">
		     <B><label>Classroom:</label></B><br>
			 <select ng-model="Classroom">
			 	<option value="">--------------</option>
             </select>
			 <label ng-switch="Classroom" class="form-group">
               <div ng-switch-when="">
                 <B></B>
               </div>
             <div ng-switch-when="">
                 <B></B>
             </div>
             <div ng-switch-when="">
                 <B></B>
             </div>
			 <div ng-switch-when="">
                 <B></B>
             </div>
            </label>
		</div>
		   <div ng-app="plunkr" ng-controller="UploadController" class="form-group">
              <input type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc">
			  <img ng-src="{{imageSrc}}">
		   </div>
		   <button type="submit" class="btn btn-primary"><B>Submit</B></button>
		   </form>
      </div>
	  </div>
  </div>
</div>
<script>
var app = angular.module('plunkr', [])
  app.controller('UploadController', function($scope, fileReader) {
    $scope.imageSrc = "";
    
    $scope.$on("fileProgress", function(e, progress) {
      $scope.progress = progress.loaded / progress.total;
    });
  });
</script>
</body>
</html>


















